@model Login.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <div class = "col-sm-10">Contacts: </div>
        <dd class = "col-sm-10">
        @foreach (var contact in Model.Contacts)
        {
            <li>
                @contact.Name (@contact.LastName) - @contact.PhoneNumber
            </li>
        }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Login">Logout</a>
</div>
